# Test Report

The inputs tested were: jewett (for a valid house, non-empty return, and all lowercase letters), Lathrop (valid house, empty list returned), Blah (not a valid input), All (to get a list of all the rooms in the example list), and exit (to stop searching).


![Screen Shot 2023-10-26 at 1.35.12 AM.png](..%2F..%2F..%2F..%2F..%2FDownloads%2FScreen%20Shot%202023-10-26%20at%201.35.12%20AM.png)
![Screen Shot 2023-10-26 at 1.35.19 AM.png](..%2F..%2F..%2F..%2F..%2FDownloads%2FScreen%20Shot%202023-10-26%20at%201.35.19%20AM.png)